.registerTitle {
  font-size: 18px;
  font-weight: 500;
}

.registerForm {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.registerInput {
  margin: 5px 0;
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.registerInput:focus {
  outline: none;
}

.inputFirstName {
  margin-right: 10px;
}

.registerBtn {
  float: left;
  width: 40%;
  height: 40px;
  margin-top: 20px;
  margin-left: 30%;
  background-color: white;
  border: 2px solid red;
  border-radius: 30px;
  font-size: 17px;
  outline: none;
  cursor: pointer;
}

.registerBtn:focus {
  outline: none;
}

.registerBtn:hover {
  background-color: #eee;
}

.registerBtn:active {
  transform: translateY(-2px);
}
